.App {
  min-height: 100vh;
  background-color: #282c34;
  color: #aeaeae;
  font-size: calc(10px + 1vmin);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-body {
  background-color: black;

  min-height: 100vh;
  width: 100vw;
  max-width: 1000px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 20px;
}

.logo {
  margin-bottom: 20px;
}

.action {
  color: #ff4d00;
}

.networkSelectorButton {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  color: #282c34;

  padding: 0 20px 20px 20px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.success {
  color: green;
}
